<div class="image-container">
  <span class="app-name-container">Your Apps N...</span>
  <img src="images/iphone.png" alt="iPhone" />
  <input type="text" class="app-name" placeholder="Your Apps Name"/>
</div>
