.row.content-container
  .col-md-5.col-xs-12.introduction
    %h1 MONIKER
    %h3 Naming Things is Hard
    %p
      Picking the right name for your mobile app
      involves a lot of variables, a few being:
      %ol
        %li Does it sound good?
        %li Do people instantly relate to it?
        %li
          Does it
          %strong LOOK
          good on the home screen?
    %p
      Moniker helps with the last of those by giving you or your client a playground
      to come up with the perfect iOS app name. Add Moniker to your client on-boarding
      process. Have them find the perfect name for their app without the back and
      forth emails. This will save you time, your client time, and make for a much
      more appealing on-boarding experience. Make sure the name that is choosen
      looks just as great underneath the app as it does within it.
    %p
      with love,
      %a{ href: 'https://twitter.com/trentkocurek', target: '_blank' } @trentkocurek
  .col-md-6.col-md-offset-1.col-xs-12.text-center
    .tool
      %input.app-name{ placeholder: 'App Name', type: 'text', value: params[:name] || 'App Name', onfocus: 'this.value = this.value;' }
      %span.app-name-container App Name
      %img{ alt: 'iPhone', src: 'images/iphone@2x.png' }
