.row.content-container
  .col-md-5.col-xs-12.the-problem
    %h1 MONIKER
    %p
      Naming things is hard. Picking the right name involves a
      lot of variables. Does it sound good? Do people instantly
      relate to it? Does it
      %strong LOOK
      good?
    %p
      Moniker helps with the last of those. Making sure the name
      you choose looks just as great underneath the app as it does
      within it.
    %p
      with love,
      %a{ href: 'https://twitter.com/trentkocurek', target: '_blank' } @trentkocurek
  .col-md-6.col-md-offset-1.col-xs-12.text-center
    .content
      %input.app-name{ placeholder: 'App Name', type: 'text', value: params[:name] || 'App Name', onfocus: 'this.value = this.value;' }
      %span.app-name-container App Name
      %img{ alt: 'iPhone', src: 'images/iphone@2x.png' }
