<html>
  <head>
    <title>Your Apps N...</title>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all"/>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
