body {
  background-color: #ECF0F1;
}

.content {
  position: relative;
  width: 708px;
  height: 786px;
  margin: 70px auto;
}

span {
  position: absolute;
  top: 500px;
  left: 90px;
  width: 135px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input {
  width: 100%;
  height: 70px;
  margin-bottom: 50px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  outline: 0;
  color: #4A4A4A;

  font-size: 40px;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
